body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.calculator {
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    font-family: monospace;
    resize: none;
}
